#scrolltable { 
    margin-top: 20px; 
    height: 600px; 
    overflow: auto;
}
#scrolltable th div {
    position: absolute; 
    margin-top: -20px;
}
table {table-layout:fixed}
td {overflow:hidden; white-space:nowrap}